# Dependencies
node_modules/

# Build Output
dist/
*.tsbuildinfo

# Environment Variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Testing & Coverage
coverage/
.nyc_output/

# Database
prisma/migrations/*_dev

# OS Files
.DS_Store

# IDE & Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
